
@{
    bool isAdmin = false;

    string name = default(string);
    var user = plan2plan.Filter.Auth.UserStorage.Get();

    if (user != null)
    {
        name = user.Name ?? user.Email.Mail;
        isAdmin = user.UserTypeID == 1 ? true : false; // 1 is admin
    }
}

@if (string.IsNullOrEmpty(name) == false)
{
    //ToDo: ActionLink to Profil
    <a href="" onclick="return false;">@name</a>
    <ul style="display: none;">
        @if (isAdmin == true)
        {
            @*<li>
                    @Html.ActionLink(Model.UserName, "Index", "Account")
                </li>*@
            <li>
                @Html.ActionLink("Работа с файлами", "Index", "File")
            </li>
            <li>
                @Html.ActionLink("Статистика", "List", "Statistics")
            </li>
            <li>
                @Html.ActionLink("Статистика на карте", "GeoChart", "Statistics")
            </li>
        }
        <li>
            <a href="/User/PersonPage?#person-data-tab">Личный кабинет</a>
            @*@Html.ActionLink("Личный кабинет", "PersonPage", "User")*@
        </li>
        <li>
            @Html.ActionLink("Выход", "LogOut", "Auth")
        </li>
    </ul>
}
else
{
    <a href="" id="labelShowLoginDialog" onclick="auth.showLoginDialog(); return false;">Войти</a>
}