@model IEnumerable<plan2plan.Domain.Core.Statistics>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="s_table">
    <thead>
        <tr>
            <th data-sortable="true" data-halign="center">
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th data-sortable="true" data-halign="center">
                @Html.DisplayNameFor(model => model.IP)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.SessionID)
            </th>*@
            <th data-sortable="true" data-halign="center">
                Браузер
            </th>
            <th data-sortable="true" data-halign="center">
                OS
            </th>
            <th data-sortable="true" data-halign="center">
                Старан/Город
            </th>
            <th data-sortable="true" data-halign="center">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th data-sortable="true" data-halign="center">
                @Html.DisplayNameFor(model => model.isMobile)
            </th>
            <th data-sortable="true" data-halign="center">
                @Html.DisplayNameFor(model => model.Referrer)
            </th>
            <th data-sortable="true" data-halign="center">
                @Html.DisplayNameFor(model => model.Screen_size)
            </th>
            @*<th data-sortable="true" data-halign="center">
                    @Html.DisplayNameFor(model => model.Index)
                </th>
            <th data-sortable="true" data-halign="center">
                @Html.DisplayNameFor(model => model.Location)
            </th>*@
            <th data-sortable="true" data-halign="center">
                @Html.DisplayNameFor(model => model.dateTime)
            </th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IP)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.SessionID)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Browser_name)
                    <span>
                        @Html.DisplayFor(modelItem => item.Browser_version)
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OS_name)
                    <span>
                        @Html.DisplayFor(modelItem => item.OS_version)
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                    <span>
                        @Html.DisplayFor(modelItem => item.City)
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                @if (item.isMobile == true)
                {
                    <td>Да</td>
                }
                else
                {
                    <td>Нет</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Referrer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Screen_size)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Index)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.dateTime)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- #region Bootstrap-table (CSS)-->
<link href="~/Scripts/bootstrap/bootstrap_table/bootstrap-table.min.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap/bootstrap_table/extensions/sticky-header/bootstrap-table-sticky-header.css" rel="stylesheet" />
<!-- #endregion -->
<!-- #region Bootstrap-table (JS)-->
@*<script src="~/Scripts/bootstrap/bootstrap_table/bootstrap-table-locale-all.min.js"></script>*@
<script src="~/Scripts/bootstrap/bootstrap_table/bootstrap-table.min.js"></script>
@*<script src="~/Scripts/bootstrap/bootstrap_table/extensions/accent-neutralise/bootstrap-table-accent-neutralise.js"></script>*@
<script src="~/Scripts/bootstrap/bootstrap_table/extensions/sticky-header/bootstrap-table-sticky-header.js"></script>
<script src="~/Scripts/bootstrap/bootstrap_table/locale/bootstrap-table-ru-RU.js"></script>
@*<script src="~/Scripts/bootstrap/bootstrap_table/locale/bootstrap-table-eu-EU.js"></script>*@
<script src="~/Scripts/bootstrap/bootstrap_table/MyScript/site_table_bootstrapjs.js"></script>
<!-- #endregion -->