@model IEnumerable<plan2plan.Domain.Core.Statistics>

@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Script/Vendor/DataTable")

@Styles.Render("~/Style/Vendor/DataTables")
<script src="~/Scripts/a_site/statistics-index.js"></script>
<script src="~/Scripts/DataTables/media/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="wrapper" class="wrapper">
                <div class="dataTables_wrapper dt-bootstrap table-responsive">
                    <table id="tbl-statistics" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th class="td-text-center">
                                    @Html.DisplayNameFor(model => model.ID)
                                </th>
                                <th class="td-text-center">
                                    @Html.DisplayNameFor(model => model.dateTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IP)
                                </th>
                                @*<th>@Html.DisplayNameFor(model => model.SessionID)</th>*@
                                <th class="td-text-center">
                                    Браузер
                                </th>
                                <th class="td-text-center">
                                    OS
                                </th>
                                <th>
                                    Старан/Город
                                </th>
                                <th class="td-text-center">
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th class="td-text-center">
                                    @Html.DisplayNameFor(model => model.Referrer)
                                </th>
                                <th class="td-text-center">
                                    @Html.DisplayNameFor(model => model.Screen_size)
                                </th>
                                @*<th class="td-text-center">
                                            @Html.DisplayNameFor(model => model.Index)
                                        </th>
                                    <th class="td-text-center">
                                        @Html.DisplayNameFor(model => model.Location)
                                    </th>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ip_info" class="container"></div>


<style>
    #ip_info > .card {
        border-color: #b8daff;
        margin-bottom: 5em;
        margin-top: 2em;
    }

    table.dataTable {
        border-collapse: collapse !important; /*переопределяем*/
    }
</style>

<script>
    $(document).ready(function () {
        //var table = $('#tbl-statistics').DataTable(
        //    {
        //        order: [[0, "desc"]]
        //    });


        $('#tbl-statistics tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                let index = table.row(this).index();
                let ip = table.cell(index, 2).data();

                $.ajax({
                    url: '/Statistics/GetInfo',
                    data: { ip: ip },
                    type: "POST"
                }).done(function (result, status, qwe, q) {

                    if (result.indexOf("DOCTYPE html") > 0) {
                        //Bug, если возвращается окно авторизации
                        window.location.href = window.location.origin + "/Auth/Index?ReturnUrl=%2fStatistics";
                        return;
                    }

                    if (result != false) {
                        $("#ip_info").children().remove();
                        $("#ip_info").append(result);
                    } else {
                        console.log("error");
                    }

                }).fail(function (error) {
                    console.log(error);
                }).always(function (result) {

                });
            }
        });

    });
</script>
